/EjbPrueba20-ejb/test/
/EjbPrueba20-war/test/
/nbproject/private/
/EjbPrueba20-war/nbproject/private/
/EjbPrueba20-ejb/nbproject/private/
/EjbPrueba20-ejb/build/
/build/
/EjbPrueba20-ejb/dist/
/EjbPrueba20-war/build/
/EjbPrueba20-war/dist/
